---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -*-uppercase-literal-suffix,
        -misc-include-cleaner,
        -*-reinterpret-cast,
        -*-magic-numbers,
        -*-identifier-length,
        -*-pro-type-union-access,
        -*-vararg,
        -*-avoid-do-while,
        -*-no-recursion,
        -*-math-missing-parentheses,
        -*-pro-bounds-pointer-arithmetic,
        -*-prefer-member-initializer,
        -*-easily-swappable-parameters,
        -*-use-designated-initializers,
        -*-avoid-pragma-once,
        -*-convert-member-functions-to-static
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
